In [2]:
# Bestseller Analysis
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl

In [3]:
import matplotlib.font_manager as fm
for font in fm.fontManager.ttflist:
    if font.name in ['AppleGothic', 'Malgun Gothic']:
        plt.rcParams['font.family'] = font.name
        break
plt.rcParams['font.family']

['AppleGothic']

# 교보문고 사이트에서 2000년부터 2018년까지 베스트셀러 데이터를 불러오자

In [4]:
B2000 = pd.read_csv('베스트_2000.csv', encoding = 'cp949', sep = ';')
B2001 = pd.read_csv('베스트_2001.csv', encoding = 'cp949', sep = ';')
B2002 = pd.read_csv('베스트_2002.csv', encoding = 'cp949', sep = ';')
B2003 = pd.read_csv('베스트_2003.csv', encoding = 'cp949', sep = ';')
B2004 = pd.read_csv('베스트_2004.csv', encoding = 'cp949', sep = ';')
B2005 = pd.read_csv('베스트_2005.csv', encoding = 'cp949', sep = ';')
B2006 = pd.read_csv('베스트_2006.csv', encoding = 'cp949', sep = ';')
B2007 = pd.read_csv('베스트_2007.csv', encoding = 'cp949', sep = ';')
B2008 = pd.read_csv('베스트_2008.csv', encoding = 'cp949', sep = ';')
B2009 = pd.read_csv('베스트_2009.csv', encoding = 'cp949', sep = ';')
B2010 = pd.read_csv('베스트_2010.csv', encoding = 'cp949', sep = ';')
B2011 = pd.read_csv('베스트_2011.csv', encoding = 'cp949', sep = ';')
B2012 = pd.read_csv('베스트_2012.csv', encoding = 'cp949', sep = ';')
B2013 = pd.read_csv('베스트_2013.csv', encoding = 'cp949', sep = ';')
B2014 = pd.read_csv('베스트_2014.csv', encoding = 'cp949', sep = ';')
B2015 = pd.read_csv('베스트_2015.csv', encoding = 'cp949', sep = ';')
B2016 = pd.read_csv('베스트_2016.csv', encoding = 'cp949', sep = ';')
B2017 = pd.read_csv('베스트_2017.csv', encoding = 'cp949', sep = ';')
B2018 = pd.read_csv('베스트_2018.csv', encoding = 'cp949', sep = ';')

In [29]:
B2018['ISBN'].astype(str)

0      9788925563350
1      9791162202913
2      9788957369364
3      9788937473135
4      9791187119845
5      9791195522125
6      9791196394509
7      9788998274795
8      9788972756194
9      9788971998557
10     9788901219943
11     9791185952987
12     9788954637756
13     9788965132288
14     9788965236504
15     9791160560510
16     9788997092772
17     9788925563367
18     9791161903538
19     9788934972464
20     9791186757093
21     9788901223032
22     9788965421832
23     9788952775184
24     9788970656250
25     9788932919126
26     9788968331503
27     9788990982575
28     9788994120966
29     9788932473802
           ...
170    9788992441575
171    9791187481423
172    9791133477296
173    9788968330889
174    9791186560785
175    9788925563022
176    9788935212224
177    9791161650401
178    9791160401455
179    9791158510688
180    9788950966447
181    9791159031076
182    9788926366028
183    9788901214801
184    9788950973063
185    9791162540145
186    9788932030395
187    9788996895107
188    9788992969536
189    9788936476694
190    9791185419022
191    9788970129792
192    9788958628224
193    9788925563770
194    9791189125264
195    9788983926845
196    9788959139309
197    9788954643535
198    9788965422495
199    9791186805992
Name: ISBN, Length: 200, dtype: object

In [5]:
# 2000년 데이터로 한 해 당 몇 위 까지 베스트셀러 데이터가 있는지 보기 
B2000.shape

(50, 8)

In [6]:
# 2000년 ~ 2018년 데이터 합쳐서 한 테이블로 만들기 
B2000_2018 = pd.concat([B2000, B2001, B2002, B2003, B2004, B2005, B2006, B2007, B2008, B2009, B2010, B2011, B2012, B2013, B2014, B2015, B2016, B2017, B2018], ignore_index=True)

In [7]:
# 전체 데이터 프레임 모양 보기 
B2000_2018.shape

(2750, 8)

In [8]:
# 왜 열이 2750개나 나오지? 찾아보니   
# 2000년 ~ 2004년 기간에는 상위 50개, 2005년 ~ 2007년 기간에는 상위 100개, 이후 2018년까지는 상위 200개 베스트셀러까지 데이터 있음.  
# 데이터 분석의 통일성을 위해 매 해 상위 50개로 제한하자

In [9]:
B2000.head()

,순위,ISBN,도서명,저자명,출판사명,출간일,분야,정가
0,1,9788984370067,가시고기,조창인,밝은세상,20000110,소설,"\7,500"
1,2,9788983920683,해리포터와 마법사의 돌 제1권 1,조앤 K. 롤링,문학수첩,20091005,소설,"\8,000"
2,3,9788982732362,부자 아빠 가난한 아빠. 1,로버트 기요사키,황금가지,20090302,경제/경영,"\12,000"
3,4,9788988045930,국화꽃 향기. 1,김하인,생각의나무,20090420,소설,"\8,800"
4,5,9788986167511,영어공부 절대로 하지마라,정찬용,사회평론,19990719,외국어,"\6,500"

In [10]:
B2005_50 = B2005[0:50]
B2006_50 = B2006[0:50]
B2007_50 = B2005[0:50]
B2008_50 = B2005[0:50]
B2009_50 = B2005[0:50]
B2010_50 = B2005[0:50]
B2011_50 = B2005[0:50]
B2012_50 = B2005[0:50]
B2013_50 = B2005[0:50]
B2014_50 = B2005[0:50]
B2015_50 = B2005[0:50]
B2016_50 = B2005[0:50]
B2017_50 = B2005[0:50]
B2018_50 = B2005[0:50]

In [11]:
B2018_50.shape

(50, 8)

In [12]:
# 2000년 ~ 2018년 베스트셀러 1~50위 데이터 합쳐서 한 테이블로 만들기 
B20002018_50 = pd.concat([B2000, B2001, B2002, B2003, B2004, B2005_50, B2006_50, B2007_50, B2008_50, B2009_50, B2010_50, B2011_50, B2012_50, B2013_50, B2014_50, B2015_50, B2016_50, B2017_50, B2018_50], ignore_index=True)

In [13]:
B20002018_50.shape

(950, 8)

In [14]:
# 테이블에 'year' 칼럼 추가하기 
B20002018_50['year'] = np.nan
B20002018_50.head()

,순위,ISBN,도서명,저자명,출판사명,출간일,분야,정가,year
0,1,9788984370067,가시고기,조창인,밝은세상,20000110,소설,"\7,500",NaN
1,2,9788983920683,해리포터와 마법사의 돌 제1권 1,조앤 K. 롤링,문학수첩,20091005,소설,"\8,000",NaN
2,3,9788982732362,부자 아빠 가난한 아빠. 1,로버트 기요사키,황금가지,20090302,경제/경영,"\12,000",NaN
3,4,9788988045930,국화꽃 향기. 1,김하인,생각의나무,20090420,소설,"\8,800",NaN
4,5,9788986167511,영어공부 절대로 하지마라,정찬용,사회평론,19990719,외국어,"\6,500",NaN

In [15]:
column_titles = ['year', '순위', '분야', '도서명', '저자명', '출판사명','출간일','정가', 'ISBN']
B20002018_top = B20002018_50.reindex(columns=column_titles)

In [16]:
# year 칼럼 채우기
B20002018_top['year'] = B20002018_top['year'].fillna(0)
B20002018_top.head(3)

,year,순위,분야,도서명,저자명,출판사명,출간일,정가,ISBN
0,0.0,1,소설,가시고기,조창인,밝은세상,20000110,"\7,500",9788984370067
1,0.0,2,소설,해리포터와 마법사의 돌 제1권 1,조앤 K. 롤링,문학수첩,20091005,"\8,000",9788983920683
2,0.0,3,경제/경영,부자 아빠 가난한 아빠. 1,로버트 기요사키,황금가지,20090302,"\12,000",9788982732362

In [17]:
# 판다스에서 어떻게 해야 할 지 모르겠으니...ㅠ.. 엑셀로 다운로드해 year 값 채워넣고 
# csv 파일로 다시 만들어서 데이터 불러오기
B20002018_top.to_excel("B20002018_excel.xlsx")
data = pd.read_csv('B20002018.csv')

In [18]:
data_bs = data.drop(columns=['Unnamed: 0'])

In [19]:
data_bs.head()

,year,순위,분야,도서명,저자명,출판사명,출간일,정가,ISBN
0,2000,1,소설,가시고기,조창인,밝은세상,20000110,"\7,500",9788984370067
1,2000,2,소설,해리포터와 마법사의 돌 제1권 1,조앤 K. 롤링,문학수첩,20091005,"\8,000",9788983920683
2,2000,3,경제/경영,부자 아빠 가난한 아빠. 1,로버트 기요사키,황금가지,20090302,"\12,000",9788982732362
3,2000,4,소설,국화꽃 향기. 1,김하인,생각의나무,20090420,"\8,800",9788988045930
4,2000,5,외국어,영어공부 절대로 하지마라,정찬용,사회평론,19990719,"\6,500",9788986167511

In [22]:
data_bs['ISBN'].astype(str)

0      9788984370067
1      9788983920683
2      9788982732362
3      9788988045930
4      9788986167511
5      9788983920706
6      9788980103034
7      9788980381319
8      9788982640919
9      9788970632070
10     9788970631578
11     9788970120157
12     9788934904700
13     9788985599214
14     9788987724898
15     9788931413298
16     9788972881216
17     9788908041318
18     9788939203822
19     9788970571485
20     9788974561383
21     9788978910972
22     9788979440997
23     9788901029351
24     9788986167658
25     9788985599221
26     9788936806156
27     9788932011523
28     9788931413144
29     9788975600456
           ...
920      9,78898E+12
921      9,78898E+12
922      9,78899E+12
923      9,78897E+12
924      9,78896E+12
925      9,78893E+12
926      9,78897E+12
927      9,78897E+12
928      9,78898E+12
929      9,78898E+12
930      9,78897E+12
931      9,78896E+12
932      9,78896E+12
933      9,78898E+12
934      9,78899E+12
935      9,78895E+12
936      9,78898E+12
937      9,78897E+12
938       9,7889E+12
939      9,78897E+12
940      9,78895E+12
941      9,78896E+12
942      9,78899E+12
943      9,78893E+12
944      9,78893E+12
945      9,78898E+12
946      9,78897E+12
947      9,78899E+12
948       9,7889E+12
949      9,78898E+12
Name: ISBN, Length: 950, dtype: object

### 2000년 ~ 2018년 상위 50위 베스트셀러 데이터프레임 완성!
이제 본격적으로 찾고 싶은 값들을 찾아보자

In [20]:
# Q : 분야에는 몇 종류가 있을까? A : 20개 분야
data_bs['분야'].unique()

array(['소설', '경제/경영', '외국어', '자기계발', '시/에세이', '인문', '어린이(초등)', '컴퓨터/IT',
       '정치/사회', '역사/문화', '여행', '유아(0~7세)', '종교', '건강', '만화', '중/고등참고서',
       '과학', '요리', '가정/육아', '예술/대중문화'], dtype=object)

In [139]:
# 어떤 분야 책들이 많이 읽혔을까? 
genre = pd.DataFrame(data_bs['분야'].value_counts())
a = genre.reset_index().rename(columns={'index':'genre', '분야':'count'})

In [141]:
a.head()

   genre  count
0     소설    358
1   자기계발    141
2    외국어    121
3  시/에세이    114
4  경제/경영     59

In [143]:
genre_df = a.to_excel("genre_df.xlsx")

In [91]:
pd.DataFrame(B2000['분야'].value_counts()).rename(columns={"index": "genre", "B": "c"})

     index  분야
0       소설  16
1    시/에세이  12
2    경제/경영   5
3     자기계발   5
4      외국어   3
5  어린이(초등)   3
6       인문   2
7   컴퓨터/IT   2
8    역사/문화   1
9    정치/사회   1

### 어떤 분야 책들이 많이 읽혔을까? 데이터 시각화 사이트 flourish에서 그래프 그림 
###### 링크 : https://public.flourish.studio/visualisation/997773/

In [155]:
# 가장 여러번 베스트셀러에 오른 책은? 즉 스테디셀러는? 총 16번 베스트셀러에 든 < 설득의 심리학 >이 1위 
most_popular_book = pd.value_counts(data_bs['도서명'].values, ascending=False)
most_popular_book.head()

설득의 심리학. 1                    16
모리와 함께한 화요일(양장본 HardCover)    16
목적이 이끄는 삶                     15
다 빈치 코드 1                     15
연금술사                          15
dtype: int64

### 어떤 저자가 제일 인기가 많았을까?

In [157]:
# 베스트셀러에 가장 많이 오른 저자는? 총 54번 오른 David Cho
most_popular_author = pd.value_counts(data_bs['저자명'].values, ascending=False)
most_popular_author.head(5)

David Cho    54
파울로 코엘료      43
미치 앨봄        29
댄 브라운        28
무라카미 하루키     19
dtype: int64

In [164]:
# David Cho가 쓴 책은? 
data_bs[data_bs['저자명'].isin(['David Cho'])].head()

,year,순위,분야,도서명,저자명,출판사명,출간일,정가,ISBN
256,2005,7,외국어,해커스 토익 READING,David Cho,해커스어학연구소,20050102,"\18,800","9,78899E+12"
265,2005,16,외국어,해커스 토익(CD1장포함),David Cho,해커스어학연구소,20041202,"\18,900","9,78899E+12"
284,2005,35,외국어,Hackers TOEFL Vocabulary (2005)(CBT/PBT)(4판),David Cho,해커스어학연구소,20050314,"\15,900","9,78899E+12"
292,2005,43,외국어,해커스 그래머 스타트(Hackers Grammar Start),David Cho,해커스어학연구소,20040107,"\16,900","9,78899E+12"
303,2006,4,외국어,해커스 토익 Reading(해설집포함),David Cho,해커스어학연구소,20080315,"\18,800","9,78899E+12"

아아 David Cho는 토익 책 저자였다. 이제 이해가 간다! 
most_popurlar_author 상위 5위에 든 다른 저자들의 책들도 찾아보자.

In [172]:
파울로_코엘료 = data_bs[data_bs['저자명'].isin(['파울로 코엘료'])]
파울로_코엘료['도서명'].unique()

array(['연금술사', '11분(양장본 HardCover)', '베로니카 죽기로 결심하다(양장본 HardCover)',
       '오 자히르(양장본 HardCover)'], dtype=object)

In [176]:
미치_앨봄 = data_bs[data_bs['저자명'].isin(['미치 앨봄'])]
미치_앨봄['도서명'].unique()

array(['모리와 함께한 화요일(양장본 HardCover)', '천국에서 만난 다섯사람'], dtype=object)

In [177]:
댄_브라운 = data_bs[data_bs['저자명'].isin(['댄 브라운'])]
댄_브라운['도서명'].unique()

array(['다 빈치 코드 1', '천사와 악마 1'], dtype=object)

In [178]:
무라카미_하루키 = data_bs[data_bs['저자명'].isin(['무라카미 하루키'])]
무라카미_하루키['도서명'].unique()

array(['상실의 시대:원제 노르웨이의 숲', '상실의 시대(원제: 노르웨이의 숲)(3판)', '해변의 카프카(상)',
       '어둠의 저편'], dtype=object)

한국 저자는 한 명도 없네... most_popular_author 상위 20개 데이터를 보자

In [182]:
most_popular_author.head(20)

David Cho    54
파울로 코엘료      43
미치 앨봄        29
댄 브라운        28
무라카미 하루키     19
이익훈          19
스펜서 존슨       19
오혜정          17
류시화          17
조앤 K. 롤링     17
공지영          17
로버트 치알디니     16
박완서          16
한비야          16
앤디 앤드루스      15
스튜디오 시리얼     15
이원복          15
릭 워렌         15
카타야마 쿄이치     14
이승헌          14
dtype: int64

한국인 중 most_popular_author 1위는 이익훈, 공동 2위는 오혜정, 류시화, 공지영. 이 사람들은 어떤 책으로 베스트셀러 작가가 됐지?

In [183]:
이익훈 = data_bs[data_bs['저자명'].isin(['이익훈'])]
이익훈['도서명'].unique()

array(['이익훈 EYE OF THE TOEIC', '이익훈 EAR OF THE TOEIC',
       '이익훈 EYE OF THE TOEIC (R/C) (개정판) (특별부록 CD 포함)'], dtype=object)

이익훈 토익책 썼구나... ㅎㅎ

In [187]:
오혜정 = data_bs[data_bs['저자명'].isin(['오혜정'])]
오혜정['도서명'].unique()

array(['토마토:토익점수마구올려주는토익(READING)', '토마토:토익점수마구올려주는토익(LISTENING)',
       '토마토:토익점수마구올려주는토익(READING) (2/E)'], dtype=object)

오혜정도 토익책 썼구나 ㅎㅎㅎㅎ 그렇다면 류시화, 공지영의 베스트셀러는 뭘까?

In [188]:
류시화 = data_bs[data_bs['저자명'].isin(['류시화'])]
류시화['도서명'].unique()

array(['지금 알고 있는 걸 그때도 알았더라면(잠언시집)', '사랑하라 한번도 상처받지 않은 것처럼'], dtype=object)

In [189]:
공지영 = data_bs[data_bs['저자명'].isin(['공지영'])]
공지영['도서명'].unique()

array(['봉순이 언니', '우리들의 행복한 시간', '사랑 후에 오는 것들(공지영)(중판)(양장본 HardCover)',
       '빗방울처럼 나는 혼자였다(양장본 HardCover)'], dtype=object)

In [190]:
이원복 = data_bs[data_bs['저자명'].isin(['이원복'])]
이원복['도서명'].unique()

array(['새 먼나라 이웃나라 7:일본 1(일본.일본인편)',
       '21세기 먼나라 이웃나라 10 (미국 1:미국인 편) (올컬러판)',
       '21세기 먼나라 이웃나라 12 (미국 3:대통령 편) (올컬러판)'], dtype=object)

In [191]:
이승헌 = data_bs[data_bs['저자명'].isin(['이승헌'])]
이승헌['도서명'].unique()

array(['힐링 소사이어티', '아이 안에 숨어 있는 두뇌의 힘을 키워라'], dtype=object)

컴퓨터/IT 분야에서 나온 베스트셀러는 딱 두 권, 이 두 권은 어떤 책들일까?

In [198]:
data_bs[data_bs['분야'].isin(['컴퓨터/IT'])]

,year,순위,분야,도서명,저자명,출판사명,출간일,정가,ISBN
15,2000,16,컴퓨터/IT,플래시 4 애니메이션 홈페이지 만들기(할수있다)(S/W포함),장일호,영진닷컴,20000103,"\23,000",9788931413298
29,2000,30,컴퓨터/IT,인터넷 무작정 따라하기(S/W포함),유해룡,길벗,19991104,"\16,500",9788975600456

흥미롭게도 두 권 모두 2000년 베스트셀러네

### 어떤 출판사가 가장 많은 베스트셀러를 냈을까?

In [202]:
most_popular_publisher = pd.value_counts(data_bs['출판사명'].values, ascending=False)
most_popular_publisher.head()

랜덤하우스코리아    57
해커스어학연구소    54
문학동네        47
세종서적        44
김영사         35
dtype: int64

In [204]:
랜덤하우스코리아 = data_bs[data_bs['출판사명'].isin(['랜덤하우스코리아'])]
랜덤하우스코리아['도서명'].unique()

array(['선물', '따뜻한 카리스마', '여자의 모든 인생은 20대에 결정된다', '그 남자 그 여자 2',
       '웃지마 나 영어책이야', '그 남자 그 여자 3', '멈추지 않는 도전'], dtype=object)

In [205]:
문학동네 = data_bs[data_bs['출판사명'].isin(['문학동네'])]
문학동네['도서명'].unique()

array(['철도원', '바이올렛', '모랫말 아이들(어른을 위한 동화)', '연금술사', '11분(양장본 HardCover)',
       '베로니카 죽기로 결심하다(양장본 HardCover)', '오 자히르(양장본 HardCover)',
       '악마는 프라다를 입는다 1'], dtype=object)

In [206]:
세종서적 = data_bs[data_bs['출판사명'].isin(['세종서적'])]
세종서적['도서명'].unique()

array(['모리와 함께한 화요일(양장본 HardCover)', '폰더씨의 위대한 하루', '천국에서 만난 다섯사람'],
      dtype=object)

In [216]:
B2014_50

,순위,ISBN,도서명,저자명,출판사명,출간일,분야,정가
0,1,"9,78899E+12",살아 있는 동안 꼭 해야 할 49가지,탄줘잉,위즈덤하우스,20041220,자기계발,"\8,800"
1,2,"9,78896E+12",다 빈치 코드 1,댄 브라운,북스캔,20070611,소설,"\7,800"
2,3,"9,78895E+12",모모(비룡소 걸작선 13),미하엘 엔데,비룡소,20091020,소설,"\12,000"
3,4,"9,78898E+12",연금술사,파울로 코엘료,문학동네,20181205,소설,"\9,500"
4,5,"9,78897E+12",블루오션전략(양장본 HardCover),김위찬,교보문고,20050407,경제/경영,"\17,000"
5,6,"9,789E+12",사랑하라 한번도 상처받지 않은 것처럼,류시화,오래된미래,20081024,시/에세이,"\9,500"
6,7,"9,78899E+12",해커스 토익 READING,David Cho,해커스어학연구소,20050102,외국어,"\18,800"
7,8,"9,78895E+12",2010 대한민국 트렌드,LG경제연구원,한국경제신문사,20050115,경제/경영,"\12,000"
8,9,"9,78898E+12",해리포터와 혼혈왕자 제6권 1,조앤 K. 롤링,문학수첩,20051101,소설,"\8,500"
9,10,"9,78895E+12",설득의 심리학. 1,로버트 치알디니,21세기북스,20020930,자기계발,"\12,000"
10,11,"9,78895E+12",긍정의 힘,조엘 오스틴,두란노,20050511,종교,"\12,000"
11,12,"9,78896E+12",여자의 모든 인생은 20대에 결정된다,남인숙,랜덤하우스코리아,20040710,자기계발,"\8,500"
12,13,"9,78897E+12",지도 밖으로 행군하라,한비야,푸른숲,20050908,여행,"\12,000"
13,14,"9,78898E+12",베로니카 죽기로 결심하다(양장본 HardCover),파울로 코엘료,문학동네,20140410,소설,"\11,500"
14,15,"9,78896E+12",공중그네,오쿠다 히데오,은행나무,20150615,소설,"\12,000"
15,16,"9,78899E+12",해커스 토익(CD1장포함),David Cho,해커스어학연구소,20041202,외국어,"\18,900"
16,17,"9,78897E+12",어둠의 저편,무라카미 하루키,문학사상,20050526,소설,"\13,800"
17,18,"9,78896E+12",선물,스펜서 존슨,랜덤하우스코리아,20031215,자기계발,"\8,500"
18,19,"9,78897E+12",미실(제1회 세계문학상 당선작),김별아,문이당,20050305,소설,"\9,500"
19,20,"9,78894E+12",목적이 이끄는 삶,릭 워렌,디모데,20030125,종교,"\12,000"
20,21,"9,78898E+12",천국에서 만난 다섯사람,미치 앨봄,세종서적,20050320,소설,"\9,000"
21,22,"9,78898E+12",오 자히르(양장본 HardCover),파울로 코엘료,문학동네,20131224,소설,"\13,800"
22,23,"9,78899E+12",세상의 중심에서 사랑을 외치다,카타야마 쿄이치,지식여행,20051010,소설,"\5,900"
23,24,"9,78897E+12",그 남자네 집,박완서,현대문학,20041023,소설,"\9,000"
24,25,"9,78896E+12",아이 안에 숨어 있는 두뇌의 힘을 키워라,이승헌,한문화,20050221,가정/육아,"\9,800"
25,26,"9,78893E+12",21세기 먼나라 이웃나라 12 (미국 3:대통령 편) (올컬러판),이원복,김영사,20050120,어린이(초등),"\11,900"
26,27,"9,78897E+12",사소한 것에 목숨 걸지 마라(습관 바꾸기 편),리처드 칼슨,도솔,20040802,자기계발,"\7,800"
27,28,"9,78897E+12",우리들의 행복한 시간,공지영,푸른숲,20050417,소설,"\9,500"
28,29,"9,78898E+12",진주 귀고리 소녀,트레이시 슈발리에,강,20030825,소설,"\9,500"
29,30,"9,78898E+12",미운오리새끼의 출근,메트 노가드,생각의나무,20050402,자기계발,"\10,000"
30,31,"9,78897E+12",토마토:토익점수마구올려주는토익(READING) (2/E),오혜정,능률교육,20041006,외국어,"\20,000"
31,32,"9,78896E+12",천사와 악마 1,댄 브라운,북스캔,20040930,소설,"\8,800"
32,33,"9,78896E+12",그 남자 그 여자 2,이미나,랜덤하우스코리아,20041211,시/에세이,"\9,500"
33,34,"9,78898E+12",칼의 노래 1(개정판),김훈,생각의나무,20031208,소설,"\7,500"
34,35,"9,78899E+12",Hackers TOEFL Vocabulary (2005)(CBT/PBT)(4판),David Cho,해커스어학연구소,20050314,외국어,"\15,900"
35,36,"9,78895E+12",마법천자문. 7,스튜디오 시리얼,북이십일 아울북,20041223,어린이(초등),"\8,800"
36,37,"9,78898E+12",이익훈 EYE OF THE TOEIC (R/C) (개정판) (특별부록 CD 포함),이익훈,넥서스,20050218,외국어,"\18,500"
37,38,"9,78897E+12",유림. 1,최인호,열림원,20050630,소설,"\9,500"
38,39,"9,7889E+12",괴짜 경제학,스티븐 레빗,웅진지식하우스,20050627,경제/경영,"\12,000"
39,40,"9,78897E+12",파이 이야기,얀 마텔,작가정신,20131113,소설,"\14,000"
40,41,"9,78895E+12",찰리와 초콜릿 공장(양장본 HardCover),로알드 달,시공주니어,20040220,어린이(초등),"\9,000"
41,42,"9,78896E+12",웃지마 나 영어책이야,문덕,랜덤하우스코리아,20050725,외국어,"\9,500"
42,43,"9,78899E+12",해커스 그래머 스타트(Hackers Grammar Start),David Cho,해커스어학연구소,20040107,외국어,"\16,900"
43,44,"9,78893E+12","CEO 안철수, 지금 우리에게 필요한 것은",안철수,김영사,20041216,자기계발,"\10,900"
44,45,"9,78893E+12",2000원으로 밥상차리기,김용환,영진닷컴,20031115,요리,"\8,800"
45,46,"9,78898E+12",폰더씨의 위대한 하루,앤디 앤드루스,세종서적,20030725,시/에세이,"\9,500"
46,47,"9,78897E+12",몽고반점 (제29회 이상문학상 수상작품집 2005년도),한강,문학사상사,20050125,소설,"\11,000"
47,48,"9,78899E+12",위트 상식사전,롤프 브레드니히,보누스,20050901,시/에세이,"\10,800"
48,49,"9,7889E+12",지문 사냥꾼,이적,웅진지식하우스,20050515,소설,"\13,000"
49,50,"9,78898E+12",모리와 함께한 화요일(양장본 HardCover),미치 앨봄,세종서적,20020320,시/에세이,"\8,500"

In [1]:
data_bs['ISBN']

NameError: name 'data_bs' is not defined