In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
for font in fm.fontManager.ttflist:
    if font.name in ['AppleGothic', 'Malgun Gothic']:
        plt.rcParams['font.family'] = font.name
        break
plt.rcParams['font.family']

%matplotlib inline
mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (14,4)

In [8]:
# 2008년 우선
Yes24_200801 = pd.read_csv('200801.csv', encoding = 'cp949')
Yes24_200802 = pd.read_csv('200802.csv', encoding = 'cp949')
Yes24_200803 = pd.read_csv('200803.csv', encoding = 'cp949')
Yes24_200804 = pd.read_csv('200804.csv', encoding = 'cp949')
Yes24_200805 = pd.read_csv('200805.csv', encoding = 'cp949')
Yes24_200806 = pd.read_csv('200806.csv', encoding = 'cp949')
Yes24_200807 = pd.read_csv('200807.csv', encoding = 'cp949')
Yes24_200808 = pd.read_csv('200808.csv', encoding = 'cp949')
Yes24_200809 = pd.read_csv('200809.csv', encoding = 'cp949')
Yes24_200810 = pd.read_csv('200810.csv', encoding = 'cp949')
Yes24_200811 = pd.read_csv('200811.csv', encoding = 'cp949')
Yes24_200812 = pd.read_csv('200812.csv', encoding = 'cp949')

In [17]:
List_2008 = [Yes24_200801, Yes24_200802, Yes24_200803, Yes24_200804, Yes24_200805, Yes24_200806, Yes24_200807, Yes24_200808, Yes24_200809, Yes24_200810, Yes24_200811, Yes24_200812]

In [23]:
for bs_list in List_2008:
        bs_list['Year'] = '2008'

In [45]:
Yes24_2008 = pd.concat([Yes24_200801, Yes24_200802, Yes24_200803, Yes24_200804, Yes24_200805, Yes24_200806, Yes24_200807, Yes24_200808, Yes24_200809, Yes24_200810, Yes24_200811, Yes24_200812], ignore_index=True)
Yes24_2008[Yes24_2008['순위'] == 1].head(3)

,순위,ISBN,상품번호,상품명,판매가,YES포인트,저자,출판사,설명,출고예상일,관리분류,Year
0,1,9.788984e+12,2742402,해리포터와 죽음의 성물 4,"7,650원",420원,J.K. 롤링/최인자,문학수첩,"1997년부터 2007년까지, 무려 10년이라는 긴 시간 끝에 해리포터 시리즈 드디...",4,국내도서-소설/시/희곡,2008
80,1,9.788952e+12,2599166,The Secret 시크릿,"12,420원",690원,론다 번/김우열,살림Biz,인생을 성공으로 이끄는 ‘위대한 비밀’의 단편들은 오래 전부터 구전과 문학과 종교와...,1,국내도서-자기계발,2008
160,1,9.788952e+12,2599166,The Secret 시크릿,"12,420원",690원,론다 번/김우열,살림Biz,인생을 성공으로 이끄는 ‘위대한 비밀’의 단편들은 오래 전부터 구전과 문학과 종교와...,1,국내도서-자기계발,2008

In [25]:
# concat을 하더라도 오리지널 연도를 지킬 수 있는 방법?

In [43]:
for int(Yes24_2008['순위']) in Yes24_2008:
    if i['순위'] in range(80):
        i['Month'] = '1'

SyntaxError: can't assign to function call (<ipython-input-43-7f472bbf2061>, line 1)